$primary: #f40752;
$secondary:#0ac7f1;
$gradient-1: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
$gradient-2: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); 
$gradient-3: linear-gradient(to right top, #4e74ac, #4d70c9, #6766e0, #9250ec, #c512eb);